
<%- include('partials/header'); %>

  <section class="home">
|    <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-controls">

    </div>
    <div class="carousel-inner "data-bs-interval="0.3">
      <div class="carousel-item active" style="background-image:url('/images/crucero.jpeg')">
        <div class="container">
           <h2>BIENVENDOS A LA</h2>
           <p>BOLSA DE TRABAJO</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image:url('/images/crucero2.jpg')">
        <div class="container">
           <h2>Instituto de Educación Superior</h2>
           <p>Público “De Crucero”</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image:url('/images/crucero3.jpg')">
        <div class="container">
           <h2>ASEGURA TU EMPRENDIMIENTO </h2>
           <p>Y CALIDAD</p>
        </div>
      </div>
    </div>
  </div>
   </section>

  
    <div class="mn">
    <div class="card">
      <div class="face front">
          <img src="/images/estudiante.jpeg" alt="">
          <h3>ESTUDIANTE</h3>
      </div>
      <div class="face back">
          <h3>ESTUDIANTE</h3>
          <p>Los estudiantes tienen la oportunidad de desarrollar habilidades personales y 
            profesionales. Esto incluye mejorar la comunicación, el
             pensamiento crítico, la resolución de problemas, 
             capacidad de trabajar en equipo.</p>
          <div class="link">
              <a href="/login" class="btn btn-info">INGRESAR</a>
          </div>
      </div>
  </div>
  

  <div class="card">
      <div class="face front">
          <img src="/images/docente.jpg" alt="">
          <h3>DOCENTE</h3>
      </div>
      <div class="face back">
          <h3>DOCENTE</h3>
          <p>Un docente va más allá de planificar lecciones informativas. De hecho,
            muchas veces los maestros se transforman en padres o madres para 
            los estudiantes debido a la cantidad de 
            tiempo que los alumnos pasan en el instituto educativo.</p>
          <div class="link">
              <a href="#">Details</a>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="face front">
          <img src="/images/empresa.jpeg" alt="">
          <h3>EMPRESA</h3>
      </div>
      <div class="face back">
          <h3>EMPRESA</h3>
          <p>Las empresas producen bienes y servicios de calidad para los individuos, 
            generan empleo y permiten ofrecer una variedad donde los consumidores 
            puedan elegir.</p>
          <div class="link">
              <a href="#">Details</a>
          </div>
      </div>
  </div>
   
</div>



<h1 class="bg-indigo-600 text-xl text-center font-bold mt-4 text-white">Explora las ofertas laborales que tenemos para ti</h1>
<!-- Card -->
<div class="my-4 grid md:grid-cols-4 sm:grid-cols-2 gap-4 px-4">
  <% for(var i = 0; i< data.length; i++) { %>
    <div class=" border-2 p-4 w-full rounded-lg ml-4 shadow-xl">
      <div>
        <img class="rounded-lg m-auto" src="images/noti.jpg" alt="">
      </div>
      <div>
        <!-- card que se repite teniendo en cuenta la cantidad de ofertas laborales que viene de la base de datos -->
        <h3 class="text-center bg-indigo-600 text-white my-4 rounded-lg border-b-yellow-400 border-4 text-2xl"><%= data[i].ol_titulo%></h3>
        <p>Inicio de labores: <%= data[i].ol_fecha_inicio_laborales%></p>
        <p>Inicio de convocatorias: <%= data[i].ol_fecha_inicio_convocatoria%></p>
        <p>Fin de convocatorias:    <%= data[i].ol_fecha_fin_convocatoria%></p>
        <p>Horario de trabajo: <%= data[i].ol_horario%></p>
        <p>Salario: S/ <%= data[i].ol_salario%></p>
        <p>Descripcion: <%= data[i].ol_descripcion%></p>
        
      </div>
    </div>
  <% } %>
  </div>

<%- include('partials/footer'); %>




