<%- include('../partials/header'); %>
  <!-- Content Wrapper. Contains page content -->
  
 
  
  <body >

  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
      
        </div>
        <% if (messages.success) { %>
          <div class="alert alert-success" role="alert"><%- messages.success %></div>
        <% } %>
        <% if (messages.error) { %>
          <div class="alert alert-danger" role="alert"><%- messages.error %></div>
        <% } %>
        <br>  
        <div class="text-right">
          <a href="categorias-add" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</a>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card col-md-12">
              <div class="card-header">
                <h3 class="card-title">LISTA DE OFERTAS LABORALES</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Fecha de inicio de labores</th>
                      <th>Inicio</th>
                      <th>Fin de convocatoria</th>
                      <th>Titulo</th>
                      <th>Descripcion</th>
                      <th>Horario</th>
                      <th>Salario</th>
                      <th>Estado</th>
                      <th>Empresa</th>
                      <th class="text-right">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i = 0; i< data.length; i++) { %>
                    <tr>
                      <td><%= (i+1) %></td>
                      <td><%= data[i].ol_fecha_inicio_labores%></td>
                      <td><%= data[i].ol_fecha_inicio_convocatoria%></td>
                      <td><%= data[i].ol_fecha_fin_convocatoria%></td>
                      <td><%= data[i].ol_titulo%></td>
                      <td><%= data[i].ol_descripcion%></td>
                      <td><%= data[i].ol_horario%></td>
                      <td><%= data[i].ol_salario%></td>
                      <td><%= data[i].ol_estado%></td>
                      <td><%= data[i].ol_ep_id%></td>
                      <td class="text-right">
                        <a href="categorias-edit/<%=data[i].ol_id%>" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                        <a href="categorias-del/<%=data[i].ol_id%>" onclick="return alert('Estas seguro que deseas eliminar?')" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>

    </section>
    <!-- /.content -->
  </div>

  </body>

  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <!-- /.content-wrapper -->
  <%- include('../partials/footer'); %>