<%- include('../partials/header'); %>
  <!-- Content Wrapper. Contains page content -->
  
 <br>
  
  <body >

  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
      
        </div>
        <% if (messages.success) { %>
          <div class="alert alert-success" role="alert"><%- messages.success %></div>
        <% } %>
        <% if (messages.error) { %>
          <div class="alert alert-danger" role="alert"><%- messages.error %></div>
        <% } %>
        <br>  
      
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card col-md-12">
              <div class="card-header">
                <h3 class="card-title">LISTA DE MONITOREO</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>ID Egresado</th>
                      <th>ID Oferta laboral</th>
                      <th>Ganador</th>
                      <th>Puntaje</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i = 0; i< data.length; i++) { %>
                    <tr>
                      <td><%= (i+1) %></td>
                      <td><%= data[i].pc_eg_id%></td>
                      <td><%= data[i].pc_ol_id%></td>
                      <td><%= data[i].pc_ganador%></td>
                      <td><%= data[i].pc_puntaje%></td>
                      
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>

    </section>
    <!-- /.content -->
  </div>

  </body>


  <%- include('../partials/footer'); %>